@model SpletnaTrgovinaDiploma.Data.ViewModels.SuccessViewModel

<div class="row">
    <div class="col-md-6 offset-md-3 alert alert-success text-center">
        <h2>@Model.Header</h2>
        <p>@Model.Body</p>
        <hr/>
        <p>@(Model.Footer ?? "")</p>
    </div>
</div>