@model SpletnaTrgovinaDiploma.Data.ViewModels.ImportXmlModel

@{
    ViewData["Title"] = "Import from XML";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <p>
            <h4>Import items from XML</h4>
        </p>

        <div class="row">
            <div class="col-md-8 ml-2">
                <form asp-action="Import" method="post" enctype = "multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <label class="col-form-label">Select File</label>
                            <input asp-for="File" class="form-control" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>
                        <div class="col-12">
                            <input asp-for="IsUpdateExisting" />
                            <label class="col-form-label">Update existing?</label>
                            <span asp-validation-for="IsUpdateExisting" class="text-danger"></span>
                            <br />
                            If you don't check the checkbox, then items will be inserted. If duplicate product code already exists, that specific item will not be inserted.
                            If you check the checkbox, then items will be updated based on the matching product code. If not match, that row of data is ignored
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success">Upload File</button>
                        </div>
                    </div>

                </form>

            </div>
        </div>

    </div>
</div>
