@model IEnumerable<Item>

@{
    ViewData["Title"] = "Home page";
}

<h3 class="pb-1"> @ViewData["Description"] </h3>

@await Html.PartialAsync("ItemsTable")

@await Html.PartialAsync("_CreateItem", "Items")
