@*Define model*@

@model IEnumerable<Item>
@*Define ViewData*@

@{
    ViewData["Title"] = "Home page";
}

@*Write code*@

<h3 class="pb-1"> Home page of Fire Computer Parts </h3>

@await Html.PartialAsync("ItemsTable")

@await Html.PartialAsync("_CreateItem", "Items")
