@using SpletnaTrgovinaDiploma.Data.ViewModels;
@model LoginViewModel;

@{
    ViewData["Title"] = "Log in to your account";
}

<div class="row">
    <div class="col-md-9 offset-md-3">
        <p>
            <h4>@ViewData["Title"]</h4>
        </p>

        @if (TempData["Error"] != null)
        {
            <div class="col-md-12 alert alert-danger">
                <span><b>Sorry!</b> - @TempData["Error"]</span>
            </div>
        }

        <div class="row">
            <div class="col-md-8 ml-2">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="form-group">
                        <label asp-for="EmailAddress" class="control-label"></label>
                        <input asp-for="EmailAddress" class="form-control" />
                        <span asp-validation-for="EmailAddress" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-outline-info float-right" asp-controller="Account" asp-action="Register">Register</a>
                        <a class="btn btn-outline-info float-right mr-3" asp-controller="Account" asp-action="ForgotPassword">Forgot password</a>
                        <input class="btn btn-outline-success float-right mr-3" type="submit" value="Log in" />
                        <a class="btn btn-outline-secondary" asp-controller="Items" asp-action="Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>